.add-property {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.add-property-form {
  width: 20em;
  padding: 2em;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.4em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.add-property-form label {
  display: block;
  margin-bottom: 1em;
}

.add-property-form input,
.add-property-form select {
  width: 100%;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 0.4em;
  box-sizing: border-box;
}

.add-property-form button {
  display: block;
  width: 100%;
  padding: 1em;
  margin-top: 1.5em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  font-size: inherit;
}

.add-property-form button:hover {
  background-color: #45a049;
}

.form-label {
  margin-bottom: 0.4em;
}